[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"

[scripts]
generate = "pelican content --output ."
preview = "pelican -l --output ."

[requires]
python_version = "3.7.3"
