[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
ghp-import = "*"

[scripts]
generate = "pelican content"
publish = "ghp-import output"
preview = "pelican -l"

[requires]
python_version = "3.7.3"
