body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    padding: 2rem;
}

h1 {
    font-style: normal;
    border-radius: 1em 0 1em 0;
    text-shadow: 1px 1px 1px #fff;
    background-image: linear-gradient(-100deg,
        rgba(186,85,211,0.15),
        rgba(186,85,211,0.8) 100%,
        rgba(186,85,211,0.25)
    );
}

h2 {
    font-style: normal;
    border-radius: 1em 0 1em 0;
    text-shadow: 1px 1px 1px #fff;
    background-image: linear-gradient(-100deg,
        rgba(255,165,0,0.15),
        rgba(255,165,0,0.8) 100%,
        rgba(255,165,0,0.25)
    );
}

.blue-highlight {
    font-style: normal;
    border-radius: 1em 0 1em 0;
    text-shadow: 1px 1px 1px #fff;
    background-image: linear-gradient(-100deg,
        rgba(135,206,250,0.15),
        rgba(135,206,250,0.8) 100%,
        rgba(135,206,250,0.25)
    );
}

